extends layout.pug
block content
    link(href="/css/sass.css", rel="stylesheet", type="text/css")
    <section id="showcase">
    <div class="container">
    h1=title
    for game in games
        div(class="gameBox gridBox")
            div(class="gameImage")
                a(href="/games/detail/" + game.id)
                img(src=game.imageUrl)
            div(class="gameDetails")
                div(class="games")
                    .button.instagram
                        a.button1(href="/games/" + game.id)="Play "+game.name
                br
            div
                label="About: "
                span=game.about