extends layout.pug
block content
    <section id="boxes">
    <div class="container">
        h1=title
            form(class="orderForm", action="order", method="post")
                div
                    
                    if game
                        label="game Id: " + game.id
                    
                    else 
                        label="game Id: "
                        input(type="text", name="gameId")
                div
                    label="Full Name:"
                    input(type="text", name="fullName")
                div
                    label="Address:"
                    input(type="text", name="address")
                div
                    label="Phone Number:"
                    input(type="text", name="phone")
                div
                    label="CC Number:"
                    input(type="text", name="ccNumber")
                input(type="submit",value="Go")