extends layout.pug
block content
    <section id="showcase">
    <div class="container">
    block content
    h1="Please Setup a New Account"
    form(action="/user/Register", method="Post")
        div
            label="Name:"
            input(type="text", name="name")
        div
            label="Email:"
            input(type="text", name="email")
        div
            label="Username:"
            input(type="text", name="username")
        div
            label="Password:"
            input(type="password", name="password")
        input(type="submit", value="Register")
