extends layout.pug
block content
    <section id="boxes">
    <div class="container">
    <section id="showcase">
    <div class="container">
    for user in users
        div(class="userBox gridBox")
            div(class="userDetails")
                div(class="title")
                    a(href="/toAdmin/" + user.id)="Make admin "
            div
                label="Username: "
                span=user.name
                label=" | "
                label="Email: "
                span=user.email
            div
                label="Roles: "
                span=user.roles